* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

:root {
  --gap: .5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 2.5px #0000006c;
  position: absolute;
  opacity: .8;
  text-align: center;
}

.header span {
  display: block;
  font-weight: 300;
  font-size: calc(var(--index) * .7);
  line-height: calc(var(--index) * 1.2);
}

.gallery {
  width: 30vw;
  column-width: 2em;
  gap: var(--gap);
  transform: scale(8);
  will-change: transform;
  transition: transform 1s cubic-bezier(.075, 1, .25, 1);
}

.gallery__item {
  margin-bottom: var(--gap);
  transform: scale(1.001);
}

.gallery__item img {
  width: 100%;
  display: block;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #00000047;
  transition: all .75s ease-in;
  cursor: pointer;
  will-change: transform;
}

.gallery__item img:hover {
  filter: grayscale(8);
  transform: scale(1.1);
}